div.upload-settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (width > 600px) {
  div.upload-settings {
    flex-direction: row;
    gap: 4rem;
  }
}

@media screen and (width > 1000px) {
  div.settings {
    width: 40%;
  }
}
