
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 3rem;

  h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;

    span {
      color: var(--color-primary);
    }
  }
}

div.upload-settings {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (width > 600px) {
  main {
    div.upload-settings {
      flex-direction: row;
      gap: 4rem;
    }
  }
}

@media screen and (width > 1000px) {
  main {
    div.settings {
      width: 40%;
    }
  }
}
