
section.file-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  width: 100%;

  h2 {
    margin: 0;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
