
li.file-item {
  align-items: center;
  background-color: var(--color-background-lighter);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;

  header {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;

    img {
      aspect-ratio: 1;
      border-radius: 0.5rem;
      object-fit: cover;
      width: 100%;
    }

    p {
      font-size: 1.125rem;
      margin: 0;
      text-align: center;
    }
  }

  button {
    align-items: center;
    display: flex;
    gap: 0.25rem;
    justify-content: center;
  }

  button svg {
    width: 1.125rem;
    aspect-ratio: 1;
    border-color: var(--color-primary);
  }
}

@media screen and (width > 600px) {
  li.file-item {
    header {
      p {
        font-size: 1rem;
      }
    }

    svg {
      width: 2rem;
    }
  }
}
