:root {
  --color-primary: #6dc24b;
  --color-primary-dark: #4b8f2d;
  --color-primary-light: #8ae68a;
  --color-secondary: #d44;
  --color-secondary-dark: #b22;
  --color-secondary-light: #f66;
  --color-background: #242424;
  --color-background-light: #333;
  --color-background-lighter: #444;
  --color-background-dark: #1a1a1a;
  --color-background-darker: #121212;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
  border: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s ease;
  transition: border-color 0.25s ease;

  &.bold {
    font-weight: bold;
  }

  &.small {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.3rem 0.6rem;
    border-radius: 0.25;
  }

  &.large {
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0.75rem;
  }

  &.primary {
    background-color: var(--color-primary);
    color: #fff;

    &:hover {
      background-color: var(--color-primary-dark);
    }

    &:active {
      background-color: var(--color-primary-light);
    }
  }

  &.secondary {
    background-color: transparent;
    color: #fff;
    border: solid 0.125rem transparent;

    &:hover {
      border-color: var(--color-background-lighter);
    }

    &:active {
      border-color: var(--color-background-dark);
    }
  }

  &.danger {
    border: solid 0.1rem var(--color-secondary);
    background-color: transparent;
    color: #fff;

    &:hover {
      border-color: var(--color-secondary-dark);
    }

    &:active {
      border-color: var(--color-secondary-light);
    }
  }
}
