:root {
  --color-primary: #6dc24b;
  --color-primary-dark: #4b8f2d;
  --color-primary-light: #8ae68a;
  --color-danger: #d44;
  --color-danger-dark: #b22;
  --color-danger-light: #f66;
  --color-background: rgb(23 23 23);
  --color-background-light: rgb(38 38 38);
  --color-background-lighter: rgb(64 64 64);
  --color-background-dark: #1a1a1a;
  --color-background-darker: #121212;
  --color-text: rgba(255, 255, 255, 0.87);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --color-primary: #6dc24b;
    --color-primary-dark: #4b8f2d;
    --color-primary-light: #8ae68a;
    --color-secondary: #d44;
    --color-secondary-dark: #b22;
    --color-secondary-light: #f66;
    --color-background: #f5f5f5;
    --color-background-light: #fff;
    --color-background-lighter: #f0f0f0;
    --color-background-dark: #e0e0e0;
    --color-background-darker: #d0d0d0;

    color: rgba(0, 0, 0, 0.87);
    background-color: var(--color-background);
  }
} */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button, .button {
  border-radius: 0.5rem;
  border: 0;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s ease;

  &.bold {
    font-weight: bold;
  }

  &.small {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.25;
  }

  &.large {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
  }

  &.extended {
    width: 100%;
  }

  &.primary {
    background-color: var(--color-primary);
    color: #fff;

    &:hover {
      background-color: var(--color-primary-dark);
    }

    &:active {
      background-color: var(--color-primary-light);
    }
  }

  &.secondary {
    background-color: transparent;
    color: var(--color-primary);
    border: solid 0.125rem transparent;

    &:hover {
      border-color: var(--color-primary);
    }

    &:active {
      border-color: var(--color-primary-light);
    }
  }

  &.danger {
    border: none;
    background-color: transparent;
    border: solid 0.125rem transparent;
    color: var(--color-danger);

    &:hover {
      border-color: var(--color-danger);
    }

    &:active {
      border-color: var(--color-danger-light);
    }
  }
}

@media screen and (width > 400px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (width > 600px) {
  :root {
    font-size: 16px;
  }

  button {
    padding: 0.6rem 1.2rem;
  }

  &.small {
    padding: 0.3rem 0.6rem;
  }

  &.large {
    padding: 0.8rem 1.6rem;
  }
}
